@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.wrapper {
    container-type: inline-size;

    position: absolute;

    display: flex;

    margin: 0rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: var(--color-text-tooltip);
    font-size: 1.06rem;
    font-family: Gabarito;
    text-align: center;
    line-height: 1.32rem;
    background-color: var(--color-background-tooltip);
    border-radius: 6px;
    
    padding: 0.4rem;

    opacity: 0%;
    animation: 0.1s ease-in-out 0.15s 1 normal forwards fade-in;
}

.arrow {
    border-color: var(--color-background-tooltip);

    opacity: 0%;
    animation: 0.1s ease-in-out 0.15s 1 normal forwards fade-in;
}