.wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: end;
    gap: 0.4rem;

    max-width: 85%;
}

.message-text-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 100%;
    min-height: 1rem;
}

.message-text {
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.0rem;
    line-height: 1.36rem;
    font-family: Gabarito;

    padding: 0.4rem 0.6rem;
    margin: 0rem;
}