.wrapper {
    display: flex;
}

.container {
    display: flex;
    align-items: end;
    gap: 0.4rem;

    max-width: 85%;
}

.message-info-container {
    display: flex;
    flex-direction: column;
}

.message-text-container {
    display: flex;
}

.message-text {
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.0rem;
    line-height: 1.36rem;
    font-family: Gabarito;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    min-height: 1rem;
    padding: 0.4rem 0.6rem;
    margin: 0rem;
}

.name-and-date-string {
    display: flex;

    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
    font-family: Gabarito;

    padding: 0rem;
    margin: 0rem;
}