@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}

@keyframes scale-in {
    from {
        opacity: 0%;
        transform: scale(40%);
    }
    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    container-type: inline-size;

    width: 100%;
}

.container {
    display: flex;

    background-color: rgb(22, 22, 22);

    width: auto;
}

label {
    align-self: start;

    color: rgba(255, 255, 255, 0.92);
    font-size: 1.2rem;
    font-family: Gabarito;
}

.text-input-and-button-container {
    display: flex;
    gap: 0.4rem;
}

.text-input,
.text-input-error {
    color: rgba(0, 0, 0, 1.0);
    font-size: 1.2rem;
    font-family: Gabarito;
    border: none;
    border-radius: 2px;
    outline: none;

    width: calc(360px - 4px);
    height: 2.0rem;

    transition: border-radius 0.25s ease-in-out 0s;
}

.text-input:disabled,
.text-input-error:disabled {
    color: rgba(60, 60, 60, 1.0);
    background-color: rgba(200, 200, 200, 1.0);
}

.text-input {
    background-color: rgba(255, 255, 255, 1.0);
}

.text-input-error {
    background-color: rgb(252, 208, 208);
}

.text-input:focus,
.text-input-error:focus {
    border-radius: 8px;
}

.select,
.select-error {
    color: rgba(0, 0, 0, 1.0);
    font-size: 1.0rem;
    font-family: Gabarito;
    text-transform: capitalize;
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    outline: none;
    text-align: center;

    min-width: calc(160px - 4px);
    height: 2.0rem;
}

.select:disabled,
.select-error:disabled {
    color: rgba(60, 60, 60, 1.0);
    background-color: rgba(200, 200, 200, 1.0);
}

.select {
    background-color: rgba(255, 255, 255, 1.0);
}

.select-error {
    background-color: rgb(252, 208, 208);
}

.select-option:nth-child(2n-1) {
    background-color: rgba(255, 255, 255, 1.0);
}

.select-option:nth-child(2n) {
    background-color: rgb(230, 253, 255);
}

.circles-wrapper {
    display: flex;
    gap: 0.6rem;
}

.circle,
.circle-selected {
    border-radius: 9999px;
    background-color: #580886;

    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 3px rgb(22, 22, 22) inset;
    box-sizing: border-box;

    transition: outline 0.1s ease-in-out 0s,
                transform 0.1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

@media (hover: hover) {
    .circle:hover,
    .circle-selected {
        outline: 4px solid white;
        transform: scale(92%);
    
        cursor: pointer;
    }
}

.circle:focus,
.circle-error:focus {
    outline: 4px solid white;
    transform: scale(84%);
    
    cursor: pointer;
}

.error {
    color: rgba(255, 0, 0, 1.0);
    font-size: 0.7rem;
    font-family: Gabarito;

    padding: 0.2rem 0rem;
    margin: 0rem;
}

.update-button,
.update-button-waiting {
    align-self: center;

    color: rgba(255, 255, 255, 1.0);
    font-size: 1.0rem;
    font-family: Gabarito;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    outline: none;

    height: 2.1rem;
    padding: 0.4rem 0.9rem;

    transition: border-radius 0.25s ease-in-out 0s,
                transform 0.1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

.update-button {
    background-color: rgb(15, 156, 15);
}

.update-button-waiting {
    background-color: rgba(200, 200, 200, 1.0);
}

@media (hover: hover) {
    .update-button:hover {
        border-radius: 8px;
        transform: scale(92%);
    
        cursor: pointer;
    }
}

.update-button:hover {
    background-color: rgb(12, 189, 12);
}

.update-button:focus {
    border-radius: 8px;
    transform: scale(84%);
    
    cursor: pointer;
}

.update-button:focus {
    background-color: rgb(14, 122, 14);
}

.update-button-waiting-wheel-container {
    display: flex;
    justify-content: center;

    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s 1 normal forwards scale-in;
}

.update-button-waiting-wheel {
    border: 4px solid rgba(128, 128, 128, 0.9);
    border-top: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;

    width: 0.8rem;
    height: 0.8rem;

    animation: spin 1.2s linear infinite;
}