.wrapper {
    display: flex;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 0.1rem 0.4rem;

    max-width: 85%;
}

.profile-image {
    align-self: center;
}

.message-text {
    grid-area: 1 / 2 / 2 / 3;

    color: rgba(255, 255, 255, 1.0);
    font-size: 1.0rem;
    line-height: 1.36rem;
    font-family: Gabarito;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    min-height: 1rem;
    padding: 0.4rem 0.6rem;
    margin: 0rem;
}

.option-button {
    align-self: center;
}

.name-and-date-string {
    display: flex;

    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
    font-family: Gabarito;

    padding: 0rem;
    margin: 0rem;
}