.wrapper {
    display: flex;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 0.1rem 0.4rem;

    max-width: 85%;
}

.profile-image {
    align-self: end;

    margin-bottom: 0.3rem;
}

.message-text-container {
    display: flex;
    flex-direction: column-reverse;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    max-width: 100%;
}

.message-text {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.2rem;

    color: rgba(255, 255, 255, 1.0);
    font-size: 1.0rem;
    line-height: 1.36rem;
    font-family: Gabarito;

    max-width: 100%;
    min-height: 1rem;
    padding: 0.5rem;
    margin: 0rem;
}

.replying-to-text-container {
    display: flex;
    flex-direction: start;

    padding: 0.4rem 0.4rem 0rem 0.4rem;
}

.replying-to-text {
    align-self: start;

    color: rgba(0, 0, 0);
    font-size: 0.8rem;
    font-family: Gabarito;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    line-height: 1.1rem;

    padding: 0.2rem 0.4rem;
    margin: 0rem;
}

.option-button {
    align-self: center;
}

.name-and-date-string {
    display: flex;

    color: var(--color-text-secondary);
    font-size: 0.7rem;
    font-family: Gabarito;

    padding: 0rem;
    margin: 0rem;
}