.wrapper {
    container-type: inline-size;

    width: 100%;
    min-width: 80px;
    max-width: 80px;
    height: 100%;

    /* Tooltip */
    position: relative;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: var(--color-background-front);
    
    padding: 8px;
    width: auto;
    height: calc(100% - (8px * 2));
}

.chat-options,
.settings-options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

@container (width < calc(640px - 1.2rem)) {
    .container,
    .chat-options,
    .settings-options {
        flex-direction: row;
    }
}