.wrapper {
    container-type: inline-size;

    /* Needed to make the Tooltip component appear above surrounding elements */
    position: relative;
    z-index: 100;

    width: 100%;
    min-width: 80px;
    max-width: 80px;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: rgb(22, 22, 22);
    
    padding: 8px;
    width: auto;
    height: calc(100% - (8px * 2));
}

.chat-options,
.settings-options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}