.message-box {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.4rem;

    width: 100%;
    height: 100%;
}

.message-text-box {
    grid-area: 1 / 1 / -1 / 2;

    color: var(--color-text-primary);
    font-size: 1.2rem;
    font-family: Gabarito;
    background-color: transparent;
    border: none;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-outline-primary);
    border-radius: 1px;

    height: 3rem;
    min-height: 3rem;
    max-height: 6rem;
    padding: 0.6rem;

    transition: background-color 0.15s ease-in-out 0s,
                border-radius 0.1s ease-in-out 0s,
                min-height 0.1s ease-out 0s;
}

@media (hover: hover) {
    .message-text-box:hover {
        outline-width: 2px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.04);

        cursor: pointer;
    }
}

.message-text-box:focus {
    outline-width: 2px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.04);

    min-height: 6rem;
    
    cursor: pointer;
}

.message-text-box ::placeholder {
    font-family: Gabarito;
}

.send-message-button {
    grid-area: 1 / 2 / -1 / -1;

    align-self: end;

    color: rgba(0, 0, 0, 0.87);
    font-size: 1.2rem;
    font-family: Gabarito;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-outline-primary);
    background-color: rgb(224, 224, 224);

    padding: 0.3rem 0.8rem;

    transition: border-radius 0.25s ease-in-out 0s,
                transform 0.1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

@media (hover: hover) {
    .send-message-button:hover {
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        transform: scale(92%);
    
        cursor: pointer;
    }
}

.send-message-button:focus {
    border-radius: 8px;
    background-color: rgb(192, 192, 192);
    transform: scale(84%);
    
    cursor: pointer;
}

.message-submission-errors {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.message-submission-errors-title {
    color: var(--color-text-primary);
    font-size: 1.0rem;
    font-family: Gabarito;
    font-weight: normal;

    padding: 0rem;
    margin: 0rem;
}

.message-submission-errors-list {
    padding: 0rem auto;
    margin: 0rem;
}

.message-submission-error-item {
    color: var(--color-text-primary);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;
}